@font-face 
{
    font-family: Dunkin;
    src: url(/assets/font/Dunkin.otf);
}

/* 
Orange: #FF6200 
Pink: #FF006B
Brown: #4D2308
*/
.DunkinLogo_V1
{
    margin-right: 100px ;
    float: right
}
html
{
    background-image: url(/assets/images/background.png);
}
body
{
    background-color: white;
}
hr
{
    margin-left: 50px;
    margin-right: 50px;
    border-width: 100px solid black;
    color: #FF006B;
}

.navbar 
{
    /* border: 2px solid black; */
    border-radius: 5px;
    /* display: flex; */
    text-align: center;
}

.mainquote
{
    text-align: center;
    font-size: 50px;
    color: #FF006B;
}

.sociallist
{
    color: #FF6200;
    list-style-type: none;
    margin: 5px auto;
}
address
{
    text-align: right;
}

.logov2
{
    /* position: absolute; */
    /* right: 50px;  */
    float: right;
    margin: 40px;
    /** When you add more pixels it comes closer to the center!! */
}
.nav-bar
{
    margin-left: 50px;
    margin-bottom: 50px;

}
